@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {

    padding: 0px;
    margin: 0px;

    font-family: poppins, Ubuntu, sans-serif;
}

body {
    background-color: black;
}


.main {
    background-image: url(items/banner.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 100vh;
    background-size: cover;
    position: relative;

}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    position: absolute;
    top: 0;
}


nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}


nav img {
    width: 140px;
    position: relative;
    z-index: 10;
    margin-top: 12px;

}

nav button {
    position: relative;
    z-index: 10;
}

.main .hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 8;
    gap: 23px;
    cursor: default;
    text-align: center;
}

.hero span h1 {
    font-weight: 900;
    font-size: 3rem;

}


.i2 {
    font-size: 1.5rem;
}


.i3 {
    font-size: 1.25rem;
}


.sign {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.get {
    width: 210px;
    height: 60px;
    border-radius: 8px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}

.all-btn {
    background-color: #E50914;
    color: white;
    border: none;
    font-weight: 500;
}


.all-btn:hover {
    background-color: #C11119;
}



.email {
    font-weight: bold;
    width: 380px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.60);
    /* padding-left: 15px; */
}

.bar {
    display: flex;
    gap: 15px;
}



.eng {
    width: 130px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.22);
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 6px 16px;
    color: white;

}




.btn {
    display: flex;
    gap: 20px;
}


.line{
    height: 8px;
    background-color: #232323;
    position: relative;
    top: -50px;
}